// h1 {
//   text-align: center;
//   font-size: 2rem;
//   text-decoration: underline;
//   padding: 2rem 0;
// }

// ul {
//   &.blog-container {
//     padding: 0 2rem;
//     margin: 0 auto;
//   }
//   & li {
//     margin: 0.5rem;
//     width: 200px;
//     padding: 0.8rem;
//     border-radius: 0.6rem;
//     border: 1px solid lightgray;
//     & img {
//       width: 300px;
//       height: 300px;
//       object-fit: cover;
//       border-radius: 0.6rem;
//     }
//   }
//   & h2 {
//     font-size: 1.5rem;
//     font-weight: 600;
//     margin-bottom: 1rem;
//   }
//   & p {
//     font-size: 1rem;
//     color: rgb(71, 69, 69);
//     margin-bottom: 3rem;
//     margin-top: 1.5rem;
//   }
//   & a {
//     background-color: #000;
//     color: #fff;
//     padding: 0.4rem 0.8rem;
//     border-radius: 0.4rem;
//   }
// }

// Blogs

.blog-container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  & img {
    width: 300px;
  }
  & li {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  & h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
  }
  & p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  & a {
    background-color: $primary-black;
    color: #fff;
    padding: 6px 8px;
    border-radius: 0.3rem;
  }
}