// Blogs

.blog-container {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  & li {
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }
  & h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
  }
  & p {
    font-size: 0.9rem;
    margin: 2rem 0;
  }
  & a {
    background-color: $primary-black;
    color: #fff;
    padding: 6px 8px;
    border-radius: 0.3rem;
  }
}