// Media Queries

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
  header {
    & .logo {
      font-size: 1.8rem;
    }
    & .navbar {
      display: none;
    }
    & .menu-icon {
      & .hamburger {
        display: block;
      }
    }
  }
  & .hero {
    & img {
      width: 160px;
      height: 160px;
    } 
  }
  & .projects,
  & .skills,
  & .about ,
  & .contact
  {
    padding: 2rem;
  }
}