// Media Queries

@media (max-width: 620px) {
  html {
    font-size: 13px;
  }
  .banner {
    display: block;
  }
  header {
    display: flex;
    justify-content: space-between;
    & .desktop-nav {
      display: inline;
    }
    & .logo {
      font-size: 1.8rem;
      max-width: 200px;
    }
    & .navbar {
      display: none;
    }
    & .menu-icon {
      padding-right: 20px;
      & .hamburger {
        display: inline;
      }
    }
  }
  & .hero {
    & img {
      width: 160px;
      height: 160px;
    } 
  }
  & .projects,
  & .skills,
  & .about ,
  & .contact
  {
    padding: 2rem;
  }
}